@media only screen and (min-width: 800px) {
	.navbar-nav{
		margin-left:auto;
	}
  	.iti-nav h1{
	  font-size: 44px;
	}
	.principal_message img{
		width: 100%;
	}
	.intro h2, .courses_offered h2, .principal_message h2, .about-us-intro h2, .full-courses h2, .gallery h2{
    	font-size: 34px;
	}
	.iti-nav img{
		height: 119px;
	    width: 115px;
	}
	.nav-item{
	  margin: auto;
	}
	.navbar-expand-md .navbar-nav .dropdown-menu {
	    top: 35px;
	}
	.hero-content h1{
		font-size:64px;
		font-weight: bold;
	}
	.intro h4{
	  width: 25%;
	}

}
@media only screen and (max-width: 800px) {
	.navbar-dark .navbar-toggler{
		margin-left: auto;
	}
	.intro{
		padding: 10% 0
	}
	.intro h2{
		padding-top: 10%;
	}
	.intro h4{
	  width: 41%;
	}
	.navbar-nav{
		margin-top: 18px;
	}
	img, .sec-gallery img{
		width: 100%;
	}
	.nav-item{
		margin-bottom: 3%;
	}
	.footer_gallery iframe, .youtube_videos iframe{ 
		width: 100%;
	}
	.course-card{
		margin-bottom: 3%;
	}
	.imageSlides{
		object-fit: cover;
	}
	.quote-background .lead {
	    margin-top: 20%;
	}
	.filter-button-group button{
		padding: 8px 10px;
	}
	.gallery-single{
		margin: 20px 0 0 0;
	}
	#reviews .carousel-control-prev, #reviews .carousel-control-next{
		height: 22px;
    	font-size: 16px;
	}

}
	
