*,h1, h1 span, h2,h3,h4,h5,h6{
  font-family: 'Arbutus Slab', serif;
}
header, .navbar-inverse{
	background: #fff;
}
.logo{
  width: 110px;
  height: 75px;
  object-fit: contain;
}
.navbar-inverse{
	border: none;
  text-align: center;
}
.dropdown-item{
  color: #000!important;
}

.nav-link{
	 color: #000!important;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 15px!important;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
/*nav ul li a:hover {
  color: #fff;
}*/
.navbar-nav .active a{
  color: #000!important;
  font-weight: bold;
}


/*corousal*/
#hero{
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
}
.hero-content{
  padding: 15% 0 20%;
  color: #fff;
  text-align:center;
}
.hero-content h1{
  padding-bottom: 2%;
}
.hero-content h1 span, .hero-content h4 span{
  display: block;
}

.hero-content h4{
  padding-bottom: 1%;
  font-size: 36px;
}

.hero-content button{
  border-radius: 6px;
  padding:1% 3%;
  border:2px solid #007bff;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}
.slider1{
  background-image: url("../images/sliders/3.png");
  /*background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url(../images/sliders/slide3.jpg);*/
}
.slider2{
  background-image: url("../images/sliders/1.png");
  /*background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url(../images/sliders/banner-02.jpg);*/
}
.slider3{
  background-image: url("../images/sliders/2.png");
  /*background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url(../images/sliders/banner-01.jpg);*/
}
.hero-content button:hover{
  border:2px solid #007bff;
  transform: scale(1.01);
}
/*carousal*/
.carousel-inner,.carousel,.carousel-item, .fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper {padding:0;}

#myCarousel .carousel-indicators{
    position:absolute;
    top:430px;
    bottom:0;
    margin:auto;
    height:20px;
    width:auto;
}
.carousel-indicators > li {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.carousel-indicators .active{
  background-color:red;
}

.intro {
  padding:8% 0;
}

.gallery {
  padding:3% 0;
}

.intro h2, .gallery h2, .section-gallery h2, .menu-box h2, .everyday-special h2{
    color: #007bff;
    text-align: center;
    padding:0 0 1%;
    font-weight: bold;
}
.intro div p{
  text-align: justify;
}
.intro h4{
  color: #c22933;
  border-bottom: 2px solid #c22933;
  padding-bottom: 1%;
}
.quote-background{
  /*background-image: url("../images/sliderbg.jpg");*/
  background-color: #007bff;
  /*height: 400px;*/
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}
.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.quote-background p, .quote-background p span{
    line-height: 44px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.quote-background p span{
  font-size: 22px;
  display: block;
  padding-top: 3%;
  font-style: italic;
}


.gallery{
  background: aliceblue;
}

.gallery img:hover, .principal_message img:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.footer{
  background: #212121;
  /*background: url("../images/footer-bg.jpg");*/
/*  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url("../images/footer-bg.jpg");*/

  background-size: cover;
  background-position: center top;
  color: white;
  padding:4% 0;
}
.footer h2{
  padding-bottom: 10%;
  font-weight: bold;
}

.footer h2:before {
    content: "";
    height: 5px;
    width: 45px;
    background: #007bff;
    position: absolute;
    left: 18px;
    z-index: 1;
    top: 50px;
}

.footer p{
  font-size: 14px;
}

.footer p i{
  padding-right: 5px;
}

.footer p a{
  color: white;
}

.footer .ql{
  list-style-type: none;
  padding:0;
}

.footer .ql li a{
  color: white;
}

.footer_gallery img{
  width:100px;
  height: 100px;
  margin-bottom: 12%;
}

.footer_gallery li span{
  float: right;
  margin-right: 25%;
}

.social_share{
  padding: 2% 0 1%;
  background: #007bff;
}
.ss a{
  color: black;
}
.ss i{
  margin-right: 10px;
  background-color: #ffcb06;
  padding:9px;
  border-radius: 50%;
  text-align: center;
  /*color: white;*/
  width: 35px;
  margin-bottom: 1%;
}
.ss i:hover{
  /*background-color: transparent;*/
  color: #007bff;
}


/*ABOUT US*/
.breadcrump{
  background-image: url('../images/getquote.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding:5% 0;
}
.gqb{
  background-image: url('../images/Get-A-Quote.png');
  padding: 14% 0;
}
.breadcrump h2{
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.breadcrump h2 span{
  color: #f58025;
}

.gallery img{
  width: 100%;
  height: 350px;
  margin-bottom: 4%;
  /*object-fit: cover;*/
}

.youtube_videos{
  margin-bottom: 3%;
}

.sec-gallery img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5%;
}
.our-events img{
  object-fit: cover;
}


.menu-box{
  padding: 70px 0px;
}

.heading-title{
  margin-bottom: 20px;
}
.heading-title h2{
  /*color: #010101;*/
  /*font-size: 28px;*/
  font-family: 'Arbutus Slab', serif;
}
.heading-title p{
  font-size: 18px;
  font-weight: 200;
  margin: 0px;
}

.filter-button-group {
    /*border: 1px solid #e4e4e4;*/
    border-radius: 4px;
    margin: 10px 15px;
    display: inline-block;
}

.filter-button-group button {
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border: 1px solid;
    border-radius: 4px;
}

.filter-button-group button.active {
    background: #007bff;
    color: #fff;
    box-shadow: 2px 20px 45px 5px rgba(0,0,0,.2);
    border:1px solid #007bff;
}

.filter-button-group button.active:focus {
  outline:0;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin: 30px 0px;
}

.gallery-single img{
  height: auto;
  /*width: 100%;*/
  object-fit: cover;
}

.why-text {
    /*position: absolute;*/
    display: none;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: rgba(44, 130, 201, 0.9);
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.gallery-single:hover .why-text{
    bottom: -50%;
}

.why-text h4{
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Arbutus Slab', serif;
}
.why-text p{
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px dashed #010101;
  margin: 0px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.why-text h5{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}


/*------------------------------------------------------------------
    Customer Reviews
-------------------------------------------------------------------*/

.customer-reviews-box{
  padding: 70px 0px;
}

.carousel-inner .carousel-item .img-box{
  width: 135px;
  height: 135px;
}
.carousel-control-prev{
  left: -100px;
}
.carousel-control-next{
  right: -100px;
}
.customer-reviews-box .carousel-indicators{
  top: 320px;
}

.text-warning{
  color: #007bff;
  font-size: 24px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .carousel-inner .carousel-item p{
    font-size: 14px;
  }
  .carousel-control-prev{
    left: -5px;
  }
  .carousel-control-next{
    right: -5px;
  }
  .carousel-indicators{
    top: 400px;
  }
}

#reviews .carousel-control-prev{
  background: #007bff;
  color: #ffffff;
  display: block;
  position: absolute;
  width: 6%;
  height: 40px;
  top: 50%;
  font-size: 28px;
  opacity: 1;
}
#reviews .carousel-control-prev:hover{
  background: #010101;
  color: #ffffff;
}

#reviews .carousel-control-next{
  background: #007bff;
  color: #ffffff;
  display: block;
  position: absolute;
  width: 6%;
  height: 40px;
  top: 50%;
  font-size: 28px;
  opacity: 1;
}
#reviews .carousel-control-next:hover{
  background: #010101;
  color: #ffffff;
}
.img-box img{
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonials h5{
  color: #007bff;
  padding-bottom: 1%;
}
.testimonials h6{
  color: #c22933;
}

.marqueee{
  background-color: #ffcb06;
  font-weight: bold;
  padding: 17px 0 10px; 
  font-family: 'Arbutus Slab', serif;
}
.marqueee a{
  color: #c22933;
}
.marqueee a:hover{
  text-decoration: none;
}

.get-quote h2{
  padding-bottom: 1%;
}

.get-quote label{
  color: #c22933;
}

.get-quote input, .get-quote textarea{
  margin-bottom: 4%;
}

.other-products label{
  padding-right: 5%;
  color: #000;
  display: block;
}

.other-products label input{
  margin-right: 5px;
}

.everyday-special{
  padding: 4% 0;
}

.everyday-special .card{
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url("../images/woodenbg.jpg");
  /*background: url('../images/woodenbg.jpg');*/
}

.everyday-special .card:hover{
  transform: scale(1.01);
}

.everyday-special .card-title{
  font-weight: bold;
  padding-bottom: 3%;
  color: #c22933;
}
.everyday-special .card-title:before {
    content: "";
    height: 3px;
    width: 45px;
    background: #007bff;
    position: absolute;
    left: 18px;
    z-index: 1;
    top: 50px;
}
.everyday-special ul{
  padding-left: 4%;
}
.everyday-special li{
  font-size: 16px;
  list-style-type: none;
  padding: .25em 0 0 0;
  position: relative;
  font-weight: bold;
}
 
  .everyday-special li:before
  {
    content:'\2713';
    display:inline-block;
    color:#007bff;
    padding:0 6px 0 0;
  }
  
  .contact-block{
    margin:3% 0;
    padding: 3%;
  }

  .info{
    background-color: white;
    padding: 4%;
    border-radius: 4px;
    box-shadow: 0 0 30px rgb(214 215 216 / 30%);
    text-align: center;
    height: auto;
    margin-bottom: 3%;
  }

  .info:hover{
    transform: scale(1.01);
  }
  .info i {
    font-size: 20px;
    color: #1bbd36;
    /*float: left;*/
    width: 44px;
    height: 44px;
    border: 1px solid #1bbd36;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s;
    display: inline-flex;
    padding: 2%;
}
.info:hover i {
    background: #1bbd36;
    color: #fff;
}
.info p a{
  color: #000;
}
.gallery.contact-us{
  padding: 0;
}

.gallery-slider-block .no-padding{
  padding: 0;
}

.no-padding img{
  width: 100%;
  height: 438px;
}
